<main>
  <section id="register" class="d-flex flex-row">

    <div class="image-section"></div>


    <div class="form-section">
      <div class="image-section2">
      </div>
      
      <div class="section-text-combo">
        <h2>Registrarse</h2>
      </div>
      <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
        <div class="mb-3">
          <label for="nombre" class="form-label">Nombre</label>
          <input 
            type="text" 
            id="nombre" 
            class="form-control" 
            formControlName="nombre" 
            placeholder="" 
          />
        </div>
      
        <div class="mb-3">
          <label for="email" class="form-label">Correo Electrónico</label>
          <input 
            type="email" 
            id="email" 
            class="form-control" 
            formControlName="email" 
            placeholder="" 
          />
        </div>
      
        <div class="mb-3">
          <label for="password" class="form-label">Contraseña</label>
          <div class="input-container">
            <input 
              type="password" 
              id="password"
              class="form-control" 
              formControlName="password" 
              [type]="passwordVisible ? 'text' : 'password'" 
              placeholder=""
            />
            <span 
              (click)="togglePasswordVisibility()" 
              class="password-toggle"
            >
              {{ passwordVisible ? '🔓' : '🔒 ' }}
            </span>
          </div>
        </div>
        
        
        <div *ngIf="showVerificationModal" class="modal">
          <div class="modal-content">
            <h3>Verifica tu correo</h3>
            <p>Hemos enviado un código a tu correo. Por favor verificar</p>
          </div>
        </div>
        
        
      
        <button type="submit" class="btn btn-primary">Registrarse</button>
      </form>
      <div class="mt-3">
        <p>¿Ya tienes una cuenta? <a [routerLink]="['/login']">Inicia sesión aquí</a></p>
      </div>
    </div>
    
  </section>
</main>

