/* Contenedor principal */
.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  background: linear-gradient(to right, #000000, #000000);
  color: white;
}

/* Contenedor de la barra lateral */
.sidebar-container {
  width: 100%;
  display: flex;
  justify-content: center;
  position: relative; 

}


/* Contenedor del contenido principal */
.content {
  flex-grow: 1;
  width: 100%;
  max-width: 1200px;
  padding: 40px;
  background-color: #000;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}



/* Contenedor de la lista de canciones */
.song-list-container {
  background-color: #000;
  padding: 50px;
  border-radius: 10px;
  margin-top: 30px;
  width: 90%;
  max-width: 800px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  text-align: center;
}

.song-list-container h2 {
  font-size: 22px;
  margin-bottom: 15px;
  color: #ff8a00;
}

.song-list {
  list-style: none;
  padding: 0;
}

/* Estilo para la sección de canciones aleatorias */
app-random-song-list {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 40px;
}

/* Media Queries para pantallas pequeñas */
@media (max-width: 768px) {
  .home-container {
      flex-direction: column;
      height: auto;
  }

  .sidebar-container {
      width: 100%;
      margin-bottom: 10px;
  }

  .content {
      padding: 20px;
  }

  .song-list-container {
      padding: 30px;
      margin-top: 20px;
      width: 95%;
  }
}
