<main>
  <section id="login">
    <div class="image-section"></div>

    <div class="form-section">
      <div class="image-section2"></div>
      <h2>Iniciar sesión</h2>

      <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">


        <label for="email" class="form-label">Email</label>
        <div class="input-container">
          <input type="email" id="email" formControlName="email" placeholder="" />
        </div>

        <div class="mb-3">
          <label for="password" class="form-label">Contraseña</label>
          <div class="input-container">
            <input 
              type="password" 
              id="password"
              class="form-control" 
              formControlName="password" 
              [type]="passwordVisible ? 'text' : 'password'" 
              placeholder=""
            />
            <span (click)="togglePasswordVisibility()" class="password-toggle">
              {{ passwordVisible ? '🔓' : '🔒 ' }}
            </span>
          </div>
        </div>

        <div *ngIf="errorMessage" class="alert alert-danger">
          {{ errorMessage }}
        </div>

        <button type="submit" class="btn">Iniciar sesión</button>
      </form>

      <div class="register-link">
        <p *ngIf="failedAttempts <= 2">¿No tienes una cuenta? 
          <a [routerLink]="['/register']">Regístrate aquí</a>
        </p>
        <p *ngIf="failedAttempts > 2">¿Olvidaste tu contraseña? 
          <a [routerLink]="['/recover-password']">Recupérala aquí</a>
        </p>
      </div>
    </div>
  </section>
</main>
