* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html {
  height: 100%;
  font-family: Arial, sans-serif;
  background-color: #000;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}

#login {
  display: flex;
  width: 90%;
  max-width: 1100px;
  height: 80vh;
  background-color: #000;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.5);
}

.image-section {
  width: 40%; 
  height: 90vh;
  padding-left: 50px; 
  margin: 80px 30px 80px 100px; 

  border-radius: 20px; 
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  background: url('https://res.cloudinary.com/dbt58u6ag/image/upload/v1740602073/uploads/wibp18ba0ywcs0t57brc.png') no-repeat center center;
 
}

.form-section {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 40px;
  background-color: rgba(0, 0, 0, 0.7);
}

.logo-section {
  width: 120px;
  height: 120px;
  background: url('https://res.cloudinary.com/dbt58u6ag/image/upload/v1740601259/uploads/zwutfwchdyr0qxo0b9vv.png') no-repeat center center;
  background-size: contain;
  margin-bottom: 20px;
}

h2 {
  font-size: 28px;
  margin-bottom: 20px;
  color: #fff;
}

form {
  width: 100%;
  max-width: 300px;
  display: flex;
  flex-direction: column;
}

label {
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 5px;
  color: #B2A179;
}

input {
  padding: 12px;
  margin-bottom: 15px;
  border: none;
  border-bottom: 2px solid rgb(66, 65, 65);
  font-size: 14px;
  background-color: transparent;
  color: #fff;
  width: 100%;
  outline: none;
  transition: border-color 0.3s;
}

input:focus {
  border-bottom: 2px solid #B2A179;
}

.btn {
  padding: 10px;
  background-color: #B2A179;
  color: white;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  font-size: 14px;
  transition: background-color 0.3s;
}

.btn:hover {
  background-color: #A09068;
}

a {
  color: #B2A179;
  text-decoration: none;
  font-size: 14px;
  font-weight: bold;
}
p{
  padding-top: 15px;
  color: #B2A179;
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
}
.input-container {
  position: relative;
}
.input-container .password-toggle {
  position: absolute;
  right: 10px;
  top: 22%;
  transform: translateY(-50%);
  cursor: pointer;
  font-size: 1.2rem;
  user-select: none;
}
@media (max-width: 768px) {
  #login {
    flex-direction: column;
    height: auto;
  }
  .image-section {
   display: none;
  }
  .logo-section{
    width: 100%;
    max-width: 230px; 
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding-top: 20px;

    background-size: contain
  }
  .form-section {
    width: 100%;
    padding-left: 110px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
}

