* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body, html {
    margin: 0;
    padding: 0;
    height: 100%;
  }
  
  .login-container {
    display: flex;
    height: 100vh;
    background-color: #000000;
    flex-wrap: wrap;
  }
  
  .image-section {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 50%;
  }
  
  .image-section img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .form-section {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #cecbcb;
    padding: 30px;
    background-color: rgb(0, 0, 0);
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
  }
  
  .logo img {
    width: 120px;
    margin-bottom: 30px;
  }
  
  h2 {
    font-size: 24px;
    margin-bottom: 20px;
    font-family: 'Arial', sans-serif;
  }
  
  form {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 350px;
  }
  
  label {
    margin-top: 15px;
    font-weight: bold;
    font-size: 16px;
  }
  
  input {
    padding: 12px;
    margin-top: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
  }
  
  .btn {
    margin-top: 20px;
    padding: 12px;
    background-color: #B2A179;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
  }
  
  a {
    margin-top: 15px;
    color: #b2a179;
    text-decoration: none;
    font-size: 14px;
    font-weight: bold;
  }
  
  

  
  @media (max-width: 768px) {
    .login-container {
      flex-direction: column;
      justify-content: center;
    }
  
    .image-section {
      display: none; 
    }
  
    .form-section {
      width: 90%;
      padding: 20px;
    }
  
    .logo img {
      width: 100px;
      margin-bottom: 20px;
    }
  
    h2 {
      font-size: 20px;
      margin-bottom: 15px;
    }
  
    label {
      font-size: 14px;
    }
  
    input {
      padding: 10px;
      font-size: 16px;
    }
  
    .btn {
      font-size: 18px;
      padding: 15px;
    }
  
    a {
      font-size: 16px;
      margin-top: 20px;
    }
  }
  
  @media (max-width: 480px) {
    .form-section {
      width: 95%;
    }
  
    .logo img {
      width: 80px;
    }
  
    h2 {
      font-size: 18px;
      margin-bottom: 15px;
    }
  }
  