/* Reset and global styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
main{
  background-color: #000000;
  width: 100%;
}
body, html {
  height: 100%;
  font-family: Arial, sans-serif;
  background-color: #000000;
  color: #000000;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Main container */
#login {
  display: flex;
  width: 100%;
  height: 100vh;
  background-color: #000000;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.5);
}

/* Image section */
.image-section {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: url('') no-repeat center center/cover;
  min-height: 100%;
}

/* Form section */
.form-section {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 40px;
  align-items: center;
  text-align: center;
}
.section-text-combo{
  color: azure;
}
h2 {
  font-size: 28px;
  margin-bottom: 20px;
}

form {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 300px;
}

input {
  padding: 12px;
  margin-top: 8px;
  border: 1px solid #8f8d8d;
  border-radius: 5px;
  font-size: 14px;
  background-color: #222;
  color: #cecbcb;
  width: 100%;
}

.btn {
  margin-top: 20px;
  padding: 10px;
  background-color: #B2A179;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s;
}

.btn:hover {
  background-color: #A09068;
}

a {
  margin-top: 15px;
  color: #B2A179;
  text-decoration: none;
  font-size: 14px;
  font-weight: bold;
}
p{
  color: #B2A179;
}

/* Responsive Styles */
@media (max-width: 768px) {
  #login {
      flex-direction: column;
      height: auto;
  }
  .image-section {
      width: 100%;
      height: 200px;
  }
  .form-section {
      width: 100%;
      padding: 30px;
  }
}
