<ul class="song-list">
    <li *ngFor="let song of songs">
      <img [src]="song.image" alt="Cover" class="song-image" />
      <div class="song-info">
        <h4>{{ song.title }}</h4>
        <p>{{ song.artist }}</p>
      </div>
      <div class="song-actions">
        <!-- Llamamos a la función selectSong cuando se hace click en el botón de reproducción -->
        <button title="Reproducir" (click)="selectSong(song)">▶️</button>
        <button title="Agregar a Playlist" (click)="addToPlaylist(song)">➕</button> <!-- Agregar a Playlist -->
    
      </div>
    </li>
  </ul>
  